{% extends "master.html" %}

{% block content %}
	{% include "sidebar.html" %}

	<div class="span9">
		<h1>My Awesome Forum</h1>

		<div class="forums-container">
			{% for forum in forums %}
			<div class="row-fluid">
				<div class="forum-topic span8">
					<h3><a href="{{ forum.url() }}">{{ forum.name }}</a></h3>
					<p>
						{{ forum.description }}
					</p>
				</div>
				<div class="forum-details span4">
					<h4><i class="icon-time"></i> Latest Post:</h4>
					{% if forum.latest_thread.subject %}
						<strong>{{ forum.latest_thread.subject }}</strong>
						- by {{ forum.latest_thread.user.username }}
						{{ timespan(strtotime(forum.latest_thread.updated_at))}} ago
					{% else %}
						<em>No threads yet...</em>
					{% endif %}
					
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}