{% extends "master.html" %}

{% block content %}
	{% include "sidebar.html" %}

	<div class="span9">
		<div class="fluid-row">
			<div class="span4">
				{% if forum.picture != null %}
				<img src="{{ forum.photoUrl() }}" style="max-width:200px;max-height:200px" class="thumbnail" />
				{% else %}
				<div class="thumbnail">
					<i class="icon-question" style="font-size:100px"></i>
				</div>
				{% endif %}
			</div>
			<div class="span8">
				<h1>{{ forum.name }}</h1>
				<p>{{ forum.description }}</p>
				
				{% if user.is_moderator_of(forum) %}
				<a href="{{ base_url('moderator/forum') ~ '/' ~ forum.id }}" class="btn btn-info">Moderate Forum</a>
				{% endif %}
			</div>
		</div>
		
		<div class="forums-container">
			
			<div class="row-fluid">
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Topic</th>
							<th>Started By</th>
							<th>Latest Post</th>
						</tr>
					</thead>
					<tbody>
						{% for thread in threads %}
						<tr>
							<td><a href="{{ thread.url }}">{{ thread.subject }}</a></td>
							<td>{{ thread.user.username }}</td>
							<td>
								{% if thread.latest_post.id %}
									By <strong>{{ thread.latest_post.user.username }}</strong>
									{{ timespan(strtotime(thread.latest_post.updated_at))}} ago
								{% else %}
									<em>No posts yet...</em>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="#thread-modal" class="btn btn-success" role="button" data-toggle="modal"><i class="icon-plus"></i> Create a Thread</a>
			</div>
			
		</div>
	</div>

	<!-- Modal -->
	<div id="thread-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">

		{{ form_open('threads/create', { id: 'thread-form', style: 'margin:0' })|raw }}

	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="threadModalLabel">Create a thread</h3>
	    </div>
	    <div class="modal-body">

	    	{{ form_hidden('forum_id', forum.id)|raw }}

            <div class="control-group">
                {{ form_label('Thread Subject:', 'subject')|raw }}
                {{ form_input({ name: 'subject', id: 'subject', class: 'input-xlarge' })|raw }}
            </div>

	    </div>
	    <div class="modal-footer">
	        <button class="btn" data-dismiss="modal" aria-hidden="true" id="close-thread">Close</button>
	        <button class="btn btn-primary" id="submit-thread"><span id="thread-form-spinner"></span>Create Thread</button>
	    </div>

	    {{ form_close()|raw }}
	</div>

{% endblock %}