{% extends "master.html" %}

{% block content %}
	{% include "sidebar.html" %}

	<div class="span9">
		<div class="row-fluid">
			<h1>{{ thread.subject }}</h1>
		</div>

		{% for post in posts %}
		<div class="row-fluid">
			<div class="span12">
				<strong>{{ post.user.username }}</strong> -
				<em>{{ timespan(strtotime(post.updated_at))}} ago</em>

				<div class="well">{{ post.content }}</div>

				{% if files %}
				files
				{% endif %}
			</div>
		</div>
		{% endfor %}




		<div class="post-row row-fluid">
			{% if validation_errors %}
			<div class="alert alert-error">{{ validation_errors|raw }}</div>
			{% endif %}
			<a href="#" class="btn btn-success" id="reply"><i class="icon-plus"></i> Reply</a>
			<div id="reply-container">
				{{ form_open_multipart(base_url('posts/create') ~ '?thread=' ~ thread.id)|raw }}

				{{ form_label('Your post:', 'content')|raw }}
				{{ form_textarea({ name: 'content', id: 'content', style: 'width:500px;height:200px', value: old_data.content })|raw }}

				{{ form_label('Attach file:', 'file')|raw }}
				{{ form_upload({ name: 'file', id: 'file' })|raw }}

				<div class="form-actions">
				{{ form_submit({ name: 'submit', id: 'submit', class: 'btn btn-primary', value: 'Post Reply' })|raw }}
				</div>

				{{ form_close()|raw }}
			</div>
		</div>
	</div>

{% endblock %}